/*
#2a4b79 azul
#c1cad7 gris
#fff785 amarillo
#ffebeb rosa
#cf4f64 cereza
*/

@media screen and (min-width:400px){
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        scroll-behavior: smooth;
        font-family: 'Poppins', sans-serif;
    }
    h1, h2, h3, h4, h5, h6, a{
        font-family: 'Rufina', serif;
    }
                                /* header */
    .top{
        width: 100vw;
        height: 80px;
        margin-top:-21px;
        background-color:#2a4b79 ;
    }
    .logo{
        color:#ffebeb ;
        padding: 22px;
    }
                                /* menu hamb */
    .hamburger{
        position: absolute;
        background-color:transparent;
        right:0;
        top:0;
        height:2rem;
        padding:30px;
        z-index:1002;
        cursor:pointer;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none
    }
    ._layer{
        background:#cf4f64;
        margin-bottom:4px;
        border-radius:5px;
        width:18px;
        height:2px;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
        -webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }
    .hamburger.is-active .-top{
        -webkit-transform:translateY(200%) rotate(45deg) !important;
        -ms-transform:translateY(200%) rotate(45deg) !important;
        transform:translateY(200%) rotate(45deg) !important;
    }
    .hamburger.is-active .-mid{
        opacity:0;
    }
    .hamburger.is-active .-bottom{
        -webkit-transform:translateY(-200%) rotate(135deg) !important;
        -ms-transform:translateY(-200%) rotate(135deg) !important;
        transform:translateY(-200%) rotate(135deg) !important;
    }
    .menuppal.is_active{
      transform: translate3d(0px, 0px, 0px);
    }
    .menuppal{
        background-color: #ffebeb;
        bottom: 0;
        height: 100%;
        left: 0;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        transform: translate3d(0px, -100%, 0px);
        transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
        width: 100%;
        z-index: 1001;
    }
    .menuppal ul{
        margin-top: 90px;
    }
    .menuppal ul li{
        text-align:center;
        font-size:1.5rem;
        height:2.5em;
    }
    .menuppal ul li a{
      color:#2a4b79;
    }
    .menuppal ul li a:hover{
      color:#2c6ac0;
    }
                                /* main */
    .my{
        width: 100vw; 
        background-color: #ffebeb;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
    }
    .my img{
        width: 150px;
        border-radius: 50%;
        margin: 25px;
        align-self: center;
    }
    .my .presentacion p{
        margin: 10px 25px;
        color:#2a4b79;
        line-height: 1.3;
        text-align: justify;
    }
    .my .presentacion h2{
        color: #cf4f64;
        font-weight:bold;
        margin: 10px 25px;
    }
    .my .presentacion .ma{
        margin-top: 12px; 
        padding: 10px;
        text-align: center;
        background: rgba(255, 255, 255, 0.631);
        filter: drop-shadow(2px 2px 1px #2a4b79 );
    }
    .my .presentacion .inv{
        padding: 10px;
        text-align: center;
    }
    .subir{
        position: fixed;
        right: 1rem;
        bottom: 3rem;
        z-index: +2;
    }
    .subir a i{
        font-size: 250%;
        color: #cf4f64;
        filter: drop-shadow(2px 2px 1px #2a4b79 );
    }
    .m3 .subir a i, .m4 .subir a i{
        font-size: 250%;
        color: #fff785;

    }
                                /* footer */
    footer{
        position: relative;
        background-color: #2a4b79 ;
        width: 100vw;
        height: 220px;
        color: #c1cad7;  
    }
    .pie{  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        padding-top: 1rem;
    }
    .pie ul li{
        text-align:center;
        font-size:0.7rem;
        padding: 2px;
    }
    .icon{
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding-bottom: 1rem;
    }
    .icon .fa-brands, .icon .fa-solid, .icon .fa-regular{
        color: #c1cad7;
        font-size: 2rem;
        filter: drop-shadow(2px 2px 1px #0a254a );
    }
    footer p{
        text-align: center;
        margin: 0 auto;
        bottom: 16px;
        font-size: 0.7rem;
    }
    .simple{
        position: relative;
        background-color: #2a4b79 ;
        width: 100vw;
        height: 26px; 
    }
    .simple p {
        padding: 5.5px;
        
    }
/* Cualidades,habilidades y conocimientos */
    .m2, .m3, .m4, .m5{
        width: 100vw; 
        background-color: #c1cad7 ;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content:center;
        gap: 1rem;
        padding-bottom: 1rem;
    }
    .m2 h2, .m4 h2{
        color: #2a4b79;
        text-align: center;
        padding-top: 1rem;
    }
    .m2 .cerebro{
        width: 90%;
        padding-top: 1rem;
    }
        
    .m2 .cartitas{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content:center;
        gap: 1rem;
    }
    .m2 .cartitas .cart{
        background-color: #ffebeb;
        width: 95%;
        border-radius: 1rem;
        color: #2a4b79;
    }
    .m2 .cartitas .cart h3{
        text-align: center;
        background-color: #fff785 ;
        font-size: 1.5rem;
        padding: 10px 0px;
    }
    .m2 .cartitas .cart li{
        text-align: center;
        padding: 10px;
    }
    .m2 .cartitas .cart li img{
        width: 3rem;
    }
/* Formacion */
    .m3 .academica, .m3 .images{
        width: 95%;
        background-color: #cf4f64;
        border-radius: 1rem;
        margin-top: 1rem;
    }
    .m3 .academica h2, .m3 .images h2{
        text-align: center;
        padding: 1rem;
        color: #fff785;
    }
    .m3 .academica .fa{
        width: 96%;
        margin: 0% 2%;
        margin-bottom: 2%;
        padding: 1.5rem;
        background-color: #ffebeb;
        border-radius: 1rem;
        text-align: left;
        color: #2a4b79;
    }
    .m3 .academica .fa h3{
        background-color: #fff785;
        padding: 10px;
        filter: drop-shadow(1px 1px 1px #0a254a67 );
    }
    .m3 .academica .fa p, .m3 .academica .fa ul{
        padding: 6px;
        font-weight: 100;   
    }
    .m3 .academica .fa ul li{
        list-style: circle;
        padding-bottom: 3%;
    }
    .cert{
        width: 96%;
        margin: 0% 2%;
        margin-bottom: 2%;
        padding: 1.5rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 2rem;
    } 
    .cert img{
        width: 95%;
        border-radius: 1rem;
        border: 10px solid #cf4f64 ;
    }
/* Experiencia */
    .m4{
        background-color: #ffebeb;
    }
    .m4 .experiencia{
        width: 90%;
        background-color: #cf4f64;
        margin: 5%;
        margin-top: 10px;
    }
    .m4 .experiencia h2{
        padding: 10px 10px;
        color: #fff785;

    }
    .m4 .experiencia .el{
        width: 95%;
        margin: 2%;
        margin-bottom: 5%;
        background-color: #c1cad7;
        padding: 10px;
    }
    .m4 .experiencia .el h3{
        text-align: center;
        padding-bottom: 5px;
        color: #2a4b79;
    }
    .m4 .experiencia .el p{
        text-align: center;
        color: #2a4b79;
    }
    .m4 .experiencia .el .galerialab{
        width: 100%;
        padding: 5px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: baseline;
        gap: 15px;
    }
    .m4 .experiencia .el .galerialab .picklab{
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 15px;
    }
    .m4 .experiencia .el .galerialab .picklab img{
        width: 100%;
    }
    .m4 .experiencia .el .galerialab .picklab p{
        bottom: 2px;
        text-align: center;
    }
/* PROYECTOS WEBS */
    .m5{
        background-color: #ffebeb;
        color: #2a4b79;
    }
    .m5 .www{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: stretch;
        align-items: center;
        padding-bottom: 1rem;
    }
    .m5 .www .pag{
        width: 90%;
        background-color: #c1cad7;
        margin: 1rem;
        border-radius: 20px 20px;
        bottom: -2rem;  
    }
    .m5 .www .pag .png{
        width: 100%;
        border-radius: 20px 20px  0px 0px; 
        border-bottom: 8px solid #2a4b79;
    }
    .m5 .www .pag h2{
        text-align: center;
        padding: 5px;
    }
    .m5 .www .pag p{
        text-align: center;
        padding: 20px 40px;
    }
    .m5 .www .pag .icoico{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 1rem;
        padding-bottom: 40px;
    }
    .m5 .www .pag .icoico img{
        width: 2rem;
    }
    .m5 .www .pag h2 a{
        border-radius: 10px;
        color: #fff785;
        filter: drop-shadow(1px 2px 1px #2a4b79 );
    }
}

@media screen and (min-width:600px){
    .subir{
        position: fixed;
        right: 3rem;
        bottom: 3rem;
        z-index: +2;
    }
    .logo{
       margin-left: 10%; 
    }
    .my img{
        width: 250px;
    }
    .my .presentacion{
        margin: 5% 10%;
        
    }
    .my .presentacion p{
        font-size: 16px;
        text-align: justify;
    }
    footer{
        width: 100vw;
        height: 150px; 
    }
    .pie{  
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1.2rem;
        padding-top: 1rem;
    }
    .pie ul li{
        text-align:left;
        font-size:0.7rem;
        padding: 2px;  
    }
    .icon{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        padding-bottom: 1rem;
    }
    footer p{
        text-align: center;
        margin: 0 auto;
        bottom: -10px;
        font-size: 0.7rem;
        padding-top: 1rem;
    }
    .m2 h2{
        font-size: 2rem;
    }
    .m2 .adm ul{
        padding-left: 30% ;
        padding-right:30% ;
    }
    .m2 .cua{
        height: 15rem;
    }
    .m2 .cua ul{
        height: 10rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .m4{
        display: flex;
        flex-direction: row;
        align-content: stretch;
        align-items: flex-start;
    }
    .m4 .experiencia .el .galerialab .picklab{
        width: 48%;
    }
    .m5 .www{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content:stretch;
        align-items: baseline;
        padding-bottom: 1rem;
    }
    .m5 .www .pag{
        width: 265px; 
    }
}

@media screen and (min-width:1000px){
    .my{
        width: 100vw; 
        background-color: #ffebeb;
        flex-direction: row;
        padding: 30px 30px;
    }
    .my img{
        align-self: center;
        order: 1;
        margin: 30px;
    }
    .my .presentacion p{
        margin: 1px 25px;
        text-align: justify;
    }
    .my .presentacion{
        display: flex;
        flex-direction: column; 
        gap: 10px;
    }
    .m2 .cartitas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .m2 .cartitas .cua{
        width: 50rem;
        order: 1;
        align-self: flex-start;
    }
    .m2 .adm ul{
        padding-left: 15% ;
        padding-right:15% ;
    }
    .m2 .cartitas .tec, .m2 .cartitas .adm{
        width: 45%;
        order: 2;
        align-self: flex-start;
    }
    .m3{
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    .m3 .academica, .m3 .images{
        width: 45%;
        background-color: #cf4f64;
        border-radius: 1rem;
        margin-top: 3rem;
    }
    .m3 .academica .fa{
        width: 80%;
        margin: 0% 10%;
        margin-bottom: 5%;
        padding: 1.5rem;
        border-radius: 1rem;       
    }
    .cert{
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content:center;
    } 
    .cert img{
        width: 45%;
        border-radius: 1rem;
        border: 10px solid #ffebeb ;
    }
   

}